.vscode
.idea

/node_modules
/build
/src/libs/**/src/
/src/libs/**/demos/
/src/libs/**/tests/
/src/libs/**/speac/
/src/libs/**/LICENSE
/src/libs/**/*.git*
/src/libs/**/*.npm*
/src/libs/**/*.json
/src/libs/**/*.txt
/src/libs/**/*.yml
/src/libs/**/*.md
/src/libs/**/*.config*
/src/libs/**/*.map*