body {
    font-family: "Ubuntu", sans-serif;
    font-size: $baseFontSize;   
    background-color: var(--base-gray);
    color: var(--blue-color);
}

.container {
    max-width: 1130px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}