// scss

$md: 480;
$lg: 786;
$l: 1060;
$xl: 1350;
$xll: 1702;
$xxl: 1920;

$mdFontSize: 16px;
$baseFontSize: 18px;
$xlFontSize: 24px;
$xllFontSize: 28px;

// css

:root {
  --base-gray: #38404B;
  --blue-color: #94ADCF;
}
